/* :root {
    --primary-color: #798A86
}

* {
    background-color: var(--primary-color);
}
    
Usem variáveis como no exemplo acima caso haja valores ou cores muito repetidos
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #81A4CD;
    padding: 15px;
    border-radius: 10px;
    min-width: 150px;
    width: 600px;
    height: 800px;

}

input,
select,
button {
    border: none;
    background-color: #FBFDFF;
    outline: none;
}

#pessoas {
    max-width: 192px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#pessoas input {
    width: 96px;
}

.orcamento {
    background-color: #FBFDFF;
}

button {
    background-color: rgb(5, 255, 5);
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 10px;
}

button:hover {
    background-color: rgb(0, 214, 0);
}

button:active {
    background-color: rgb(5, 255, 5);
}